body{
    background:url('https://th.bing.com/th/id/R.f4b3e7e6599388adebd60143261fb4d1?rik=DsKsGS1On5fm1g&pid=ImgRaw&r=0');
}
h1{
    color:#ffee00;
    text-align:center;
}
a{
    border:10px;
    font-size:100px;
    background-color: chartreuse;
    border-radius:20px;
    padding:20px 50px;
    cursor: pointer;
}
 a:hover{
     background-color:red;
 }
 .s{
    background-color: #ffee00;

 }
 .b{
    background-color:aqua;
 }
 .c{
    background-color:#b4686e;
 }
 div{
    margin:100px;
    padding:10px;
 }
 .scroll{
    height:100px;
    width:100px;
    border:5px solid red;
    overflow:scroll;
    color:rgb(12, 255, 93);
 }
 time{
    text-align:center;
    font-size:50px;
 }
 div{
   cursor:pointer;
 }